[flake8]
ignore = E203, E501, W503
# C901 should be removed in future versions
# line length is intentionally set to 80 here because black uses Bugbear
exclude =
    .git,
    __pycache__,
    opensim-core,
    data,
    utils/*,
    helpers/spawner_const.py,
    show_acts.py
max-line-length = 88
max-complexity = 18
select = B,C,E,F,W,T4,B9